section{
    display: flex;
    background: #1b6d85;
    flex-flow: row wrap;
    border: 2px solid yellow;
}

article{
    text-align: center;
    background: rebeccapurple;
    flex:1 0 50px;
    border: 1px dotted black;
}
#left{
    box-sizing: border-box;
    flex: 3 0 30px;
}
#right{
    box-sizing:  border-box;
    flex: 7 0 70px
}