
html{
    font-family: 'Gochi Hand', cursive;
    font-weight: normal;
}

h1{
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    font-weight: bolder;
    color: #4752d3;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-decoration: underline #97DB9A;
}

h2 {
    font-weight: bold;
    display: inline-block;
    max-width: 400px;
    background: linear-gradient(to right, #00BEA5, #EFF1F0);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

    /* multi-shadow */
    text-shadow: -1px -1px 1px #aaa,
    0px 4px 1px rgba(180, 255, 136, 0.5),
    4px 4px 5px rgba(251, 1, 24, 0.7),
    0px 0px 7px rgba(243, 253, 246, 0.4);
}

p{
    line-height: 1.3;
}
.profile{

}
ol {
    list-style-type: upper-roman;
}


dd, dt {
    line-height: 1.5;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 1.5rem;
}